@{
    ViewBag.Title = "Home Page";
}

<main>
    <div id="MainLayout">
        <br />
        <br /> 
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="d-flex justify-content-center">
            <h1>
                Welcome To CMCS Contract Monthly Claim System)
            </h1>
        </div>
        <hr />
        <div class="d-flex justify-content-center">
            <h3>
                Please Sign In or Register New Account
            </h3>
        </div>
        <br />
        <br />
        <div class="d-flex justify-content-center">
            @Html.ActionLink("Login", "Index", "Users", new { area = "" }, new { @class = "btnLogin" })

            <br />

            @Html.ActionLink("Register", "Create", "Users", new { area = "" }, new { @class = "btnRegister" })
        </div>


    </div>
</main>